.appBar {
	background: #7d6b5e;
	background: -webkit-linear-gradient(top left, #7d6b5e, #1a1c33);
	background: -moz-linear-gradient(top left, #7d6b5e, #1a1c33);
	background: linear-gradient(to bottom right, #7d6b5e, #1a1c33);
}
.menuOverride {
	position: relative;
}
.containerMenuOverride {
	display: none;
	position: absolute;
	z-index: 1;
}
.bulletinImg {
	width: 200px;
	height: 180px;
}
.contactUsIconButton {
	background-color: #0d4879;
	color: white;
}
.callIconButton {
	background-color: #0d4879;
	color: white;
}
.appointmentIconButton {
	background-color: #0d4879;
	color: white;
}
