.background {
	max-width: 100%;
	max-height: 280px;
	object-fit: cover;
}

@media only screen and (max-width: 1024px) {
	.background {
		max-width: 100%;
		max-height: 210px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 768px) {
	.background {
		max-width: 100%;
		max-height: 160px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 640px) {
	.background {
		max-width: 100%;
		max-height: 80px;
		object-fit: cover;
	}
}

.banner {
	max-height: 500px;
	width: 100%;
}

.upperLayout {
	z-index: 10;
	margin: 0 auto;
	max-width: 80%;
	padding: 20px;
	position: relative;
}

.upperLayoutPaper {
	padding: 20px;
}

@media only screen and (max-width: 640px) {
	.upperLayout {
		max-width: 90%;
		padding: 0px;
	}
	.upperLayoutPaper {
		padding: 10px;
	}
}

.titleConatiner {
	padding: 10px;
}

.decsriptionContainer {
	padding: 10px;
}

.addressSection {
	padding: 30px;
}

.addressSectionTitle {
	padding: 30px;
	margin: 0 auto;
}

.addressContainer {
	width: 220px;
	background: #eeeeee;
	height: 220px;
	border-radius: 50%;
}

.addressContainer:hover {
	animation: pulse 2s;
	animation-fill-mode: forwards;
}

@keyframes pulse {
	0% {
	}
	100% {
		border-radius: 20%;
	}
}

.innerText {
	position: relative;
	margin: 30px 10px;
	bottom: -15%;
	text-align: center;
}

.aboutusMain {
	min-height: 88vh;
}
