.background {
	max-width: 100%;
	max-height: 280px;
	object-fit: cover;
}

@media only screen and (max-width: 1024px) {
	.background {
		max-width: 100%;
		max-height: 210px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 768px) {
	.background {
		max-width: 100%;
		max-height: 160px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 640px) {
	.background {
		max-width: 100%;
		max-height: 80px;
		object-fit: cover;
	}
}

.banner {
	max-height: 500px;
	width: 100%;
}

.upperLayout {
	z-index: 10;
	margin: 0 auto;
	max-width: 80%;
	padding: 20px;
	position: relative;
}

.upperLayoutPaper {
	padding: 20px;
}

@media only screen and (max-width: 640px) {
	.upperLayout {
		max-width: 90%;
		padding: 0px;
	}
	.upperLayoutPaper {
		padding: 10px;
	}
}

.titleConatiner {
	padding: 10px;
}

.decsriptionContainer {
	padding: 10px;
}

.notices {
	padding: 40px;
}

.notice {
	padding: 30px;
}

.clientSection {
	padding: 20px;
}

.addressSection {
	padding: 30px;
}
